.board-player-container {
    display: grid;
    grid-template-areas:
      ". top ."
      ". center ."
      ". bottom .";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    min-height: 100dvh;
    height: auto;
    /* min-width: max-content; */
    width: 100%;
  }

  * {
    -webkit-user-select: none; /* Safari and iOS */
    -ms-user-select: none; /* Internet Explorer */
    user-select: none; /* Standard syntax */
  }

  .board-player-top {
    grid-area: top;
  }
  
  .board-player-left {
    grid-area: left;
  }
  
  .board-player-bottom {
    grid-area: bottom;
  }
  
  .board-player-right {
    grid-area: right;
  }

  .board-player-center {
    grid-area: center;
  }