@font-face {
    font-family: 'joti-one';
    src: url('./assets/fonts/JotiOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn {
        @apply flex gap-2 items-center justify-center py-2 px-4 m-1 font-semibold m-auto
    }
    .input{
        @apply block px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none focus:ring
    }
    .select {
        @apply block px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none focus:ring
    }
    body {
        @apply font-sans;
    }
}

#root{
    padding: 0;    
    text-align: center;
}

.btn-wood{
    background-image: url("./assets/images/common/button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-wood{
    background-image: url("./assets/images/dataGame/title-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}