.board-container{
  background-color: black;
  /* max-width: 1440px; */
  margin: auto;
}

/*BOX STEPS*/
.steps-container {
    display: grid;
    grid-template-areas:
      "left top right"
      "left center right"
      "left bottom right";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    max-height: 100dvh;
    /* height: auto; */
  }
  
  .row {
    display: flex;
    justify-content: center;
    /* flex-wrap: nowrap;
    width: 90%; */
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: nowrap;
    width: 70%; */
  }

  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    /* flex-wrap: nowrap;
    width: 90%; */
  }
  
  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    /* flex-wrap: nowrap;
    width: 90%; */
  }
  
  .top {
    grid-area: top;
  }
  
  .left {
    grid-area: left;
  }
  
  .bottom {
    grid-area: bottom;
  }
  
  .right {
    grid-area: right;
  }

  .steps-center-container {
    grid-area: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #FFCC00; */
    /* background-color: #FFF; */
    /* padding: 20px; */
    border-radius: 15px;
    margin: auto;
    width: 85%;
    height: 85%;
  }

  .data-game-container {
    display: grid;
    grid-template-areas:
      ". top ."
      ". center ."
      ". bottom .";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    gap: 40px;
  }

  .data-game-center{
    grid-area: center;
    margin: auto;
  }

  .data-game-bottom {
    grid-area: bottom;
    width: 50%;
  }

  .data-game-title{
    background-image: url("../../assets/images/dataGame/title-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 500px;
    margin: auto;
  }

  .data-game-players{
    height: 25dvh;
  }


  /*Style for modal gain flag*/
  .background-gain-flag {
    position: relative;
    border-radius: 0.75rem;
    width: 70vh;
    height: 70vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1; /* Place behind other content */
  }